# Dependencies.
node_modules/

# Testing.
**/coverage/

# Production / Build artifacts.
**/dist/

# Miscellaneous.
.DS_Store
*.pem

# Debug.
npm-debug.log*

# Environment Variables.
.env*
!.env.example

# Typescript.
*.tsbuildinfo
